{% extends 'header.html.twig' %}
{% block body %}
<html lang="en">

<!-- Mirrored from demo.verodate.com/html/verodate/blog-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jan 2018 08:21:36 GMT -->
<body>
<!--================Frist Main hader Area =================-->
<!--================Frist Main hader Area =================-->

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h3 title="Blog"><img class="left_img" src="img/banner/t-left-img.png" alt="">Blog<img class="right_img" src="img/banner/t-right-img.png" alt=""></h3>
            <a href="index.html">Home</a>
            <a href="blog.html">Blog</a>
            <a href="blog.html">Blog Full Width</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Blog grid Area =================-->
<section class="blog_grid_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 right_side">
                <div class="row">
                    <div class="blog_grid_inner">
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-1.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-2.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-3.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-4.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-5.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-6.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-10.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-11.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog_grid_item">
                                <div class="blog_grid_img">
                                    <img src="img/blog/blog-grid/blog-grid-12.jpg" alt="">
                                    <div class="blog_share_area">
                                        <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>16</a>
                                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>95</a>
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
                                    </div>
                                </div>
                                <div class="blog_grid_content">
                                    <h3>Your Blog title here</h3>
                                    <div class="blog_grid_date">
                                        <a href="#">By David</a>
                                        <a href="#">03 Sep, 2016</a>
                                        <a href="#">Dating</a>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less like readable English. </p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_area">
                    <a class="prev" href="#">Previous</a>
                    <a class="arrow_left" href="#"><i class="fa fa-angle-left"></i></a>
                    <a class="arrow_right" href="#"><i class="fa fa-angle-right"></i></a>
                    <a class="next" href="#">Next</a>
                </div>
            </div>
            <div class="col-md-3 right_side">
                <div class="right_sidebar_area">
                    <aside class="s_widget categories_widget">
                        <div class="s_title">
                            <h4>Categories</h4>
                            <img src="img/widget-title-border.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Design</a></li>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Business</a></li>
                            <li class="active"><a href="#"><img src="img/categories-list.png" alt="">Dating</a></li>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Web Design</a></li>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Featured</a></li>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Technology</a></li>
                            <li><a href="#"><img src="img/categories-list.png" alt="">Photography</a></li>
                        </ul>
                    </aside>
                    <aside class="s_widget recent_post_widget">
                        <div class="s_title">
                            <h4>Recent Post</h4>
                            <img src="img/widget-title-border.png" alt="">
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="img/blog/recent-post/recent-post-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Blog Image Post</h4>
                                <a href="#">14 Sep, 2016 at 08:00 Pm</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="img/blog/recent-post/recent-post-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Blog Standard Post</h4>
                                <a href="#">14 Sep, 2016 at 08:00 Pm</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="img/blog/recent-post/recent-post-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Blog Image Post</h4>
                                <a href="#">14 Sep, 2016 at 08:00 Pm</a>
                            </div>
                        </div>
                    </aside>
                    <aside class="s_widget tags_widget">
                        <div class="s_title">
                            <h4>Tags</h4>
                            <img src="img/widget-title-border.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Web</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Dating</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Corporate</a></li>
                        </ul>
                    </aside>
                    <aside class="s_widget social_widget">
                        <div class="s_title">
                            <h4>Tags</h4>
                            <img src="img/widget-title-border.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Blog grid Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="footer_widgets_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="vero_widget">
                            <h4><span>Vero</span>Date</h4>
                            <p>There are many variations of passag-es of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything .</p>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Information</h3>
                        </div>
                        <div class="information_widget">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Membership</a></li>
                                <li><a href="#">Private Policy</a></li>
                                <li><a href="#">Forum Support</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Recent posts</h3>
                        </div>
                        <div class="recent_post_widget">
                            <ul>
                                <li><a href="#">Blog Standard Post <span>14 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Image Post <span>12 Sep, 2016</span></a></li>
                                <li><a href="#">BlogVideo Post <span>08 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Audio  Post <span>03 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Standard Post <span>16 Aug, 2016</span></a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Newsletter Signup</h3>
                        </div>
                        <div class="newsletter_widget">
                            <p>Get Alert Directly Into Your Inbox After Each Post.</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                        </span>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright_left">
            <div class="copyright_text">
                <h4>Copyright © 2017. <a href="#">VeroDate</a> . all rights reserved</h4>
            </div>
        </div>
        <div class="copyright_right">
            <div class="copyright_social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->
</body>

<!-- Mirrored from demo.verodate.com/html/verodate/blog-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jan 2018 08:22:09 GMT -->
</html>
{% endblock %}