{% extends 'header.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.verodate.com/html/verodate/members.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jan 2018 08:23:20 GMT -->
<body>

<!--================Frist Main hader Area =================-->
<!--================Frist Main hader Area =================-->

<!--================Banner Area =================-->
<section class="banner_area banner_area2">
    <div class="container">
        <div class="banner_content">
            <h3 title="Members"><img class="left_img" src="img/banner/t-left-img.png" alt="">Members<img class="right_img" src="img/banner/t-right-img.png" alt=""></h3>
            <a href="index.html">Home</a>
            <a href="#">Community</a>
            <a href="blog.html">Members</a>
            <div class="advanced_search">
                <div class="search_inner">
                    <div class="search_item">
                        <h5>I am a</h5>
                        <select class="selectpicker">
                            <option>Man</option>
                            <option>Woman</option>
                        </select>
                    </div>
                    <div class="search_item">
                        <h5>Seeking a</h5>
                        <select class="selectpicker">
                            <option>Woman</option>
                            <option>Man</option>
                        </select>
                    </div>
                    <div class="search_item">
                        <h5>From</h5>
                        <select class="selectpicker">
                            <option>20</option>
                            <option>28</option>
                        </select>
                    </div>
                    <div class="search_item">
                        <h5>To</h5>
                        <select class="selectpicker">
                            <option>28</option>
                            <option>38</option>
                        </select>
                    </div>
                    <div class="search_item">
                        <button type="submit" value="LogIn" class="btn form-control login_btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Active Memebers Area =================-->
<section class="actives_members">
    <div class="container">
        <div class="welcome_title">
            <h3>Active Members</h3>
            <img src="img/w-title-b.png" alt="">
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-1.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-3.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-2.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-4.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-3.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-5.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-4.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-6.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-5.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-2.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>

            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-6.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-7.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-7.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-8.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-8.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-9.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-9.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-10.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-10.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-11.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-11.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-12.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="active_mem_item">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tool_hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/members/active-members/a-members-12.png" alt=""></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="head_area">
                                        <h4>Lara Davis</h4>
                                        <h4>53% Match</h4>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="img/photo/people-p/people-drop-13.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h6>29 years old <br> From Derby <br> Single</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>Maria Doe</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Active Memebers Area =================-->

<!--================Register Members slider Area =================-->
<section class="register_members_slider">
    <div class="container">
        <div class="welcome_title">
            <h3>Latest registered members</h3>
            <img src="img/w-title-b.png" alt="">
        </div>
        <div class="r_members_inner">
            <div class="item">
                <img class="img-circle" src="img/members/r_members-1.png" alt="">
                <h4>Rocky Ahmed</h4>
                <h5>22 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-2.png" alt="">
                <h4>Alex Jones</h4>
                <h5>23 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-3.png" alt="">
                <h4>Nancy Martin</h4>
                <h5>25 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-4.png" alt="">
                <h4>Kavin Smith</h4>
                <h5>20 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-5.png" alt="">
                <h4>Lena Adms</h4>
                <h5>26 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-6.png" alt="">
                <h4>Peter Nevill</h4>
                <h5>20 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-2.png" alt="">
                <h4>Alex Jones</h4>
                <h5>23 years old</h5>
            </div>
            <div class="item">
                <img class="img-circle" src="img/members/r_members-3.png" alt="">
                <h4>Nancy Martin</h4>
                <h5>25 years old</h5>
            </div>
        </div>
    </div>
</section>
<!--================End Register Members  slider Area =================-->

<!--================All Members Area =================-->
<section class="all_members_area">
    <div class="container">
        <div class="welcome_title">
            <h3>All Members</h3>
            <img src="img/w-title-b.png" alt="">
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-1.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-2.png" alt="">
                    <h4>Alex Jones</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-3.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-4.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-5.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-6.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-7.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-8.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-9.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-10.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-11.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="all_members_item">
                    <img src="img/members/all-members/members-12.png" alt="">
                    <h4>Lena Adms</h4>
                    <h5>22 years old</h5>
                </div>
            </div>
        </div>
        <a href="#" class="register_angkar_btn">View More</a>
    </div>
</section>
<!--================End All Members Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="footer_widgets_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="vero_widget">
                            <h4><span>Vero</span>Date</h4>
                            <p>There are many variations of passag-es of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything .</p>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Information</h3>
                        </div>
                        <div class="information_widget">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Membership</a></li>
                                <li><a href="#">Private Policy</a></li>
                                <li><a href="#">Forum Support</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Recent posts</h3>
                        </div>
                        <div class="recent_post_widget">
                            <ul>
                                <li><a href="#">Blog Standard Post <span>14 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Image Post <span>12 Sep, 2016</span></a></li>
                                <li><a href="#">BlogVideo Post <span>08 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Audio  Post <span>03 Sep, 2016</span></a></li>
                                <li><a href="#">Blog Standard Post <span>16 Aug, 2016</span></a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3">
                    <aside class="f_widget">
                        <div class="f_widget_title">
                            <h3>Newsletter Signup</h3>
                        </div>
                        <div class="newsletter_widget">
                            <p>Get Alert Directly Into Your Inbox After Each Post.</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                        </span>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright_left">
            <div class="copyright_text">
                <h4>Copyright © 2017. <a href="#">VeroDate</a> . all rights reserved</h4>
            </div>
        </div>
        <div class="copyright_right">
            <div class="copyright_social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!--RS5.0 Extensions-->
<script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- Extra plugin js -->
<script src="vendors/image-dropdown/jquery.dd.min.js"></script>
<script src="vendors/animate-css/wow.min.js"></script>
<script src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendors/bootstrap-selector/bootstrap-select.js"></script>
<script src="vendors/bootstrap-datepicker/js/moment-with-locales.js"></script>
<script src="vendors/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="vendors/counter-up/waypoints.min.js"></script>
<script src="vendors/counter-up/jquery.counterup.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/bs-tooltip/jquery.webui-popover.min.js"></script>
<script src="vendors/jquery-ui/jquery-ui.js"></script>


<script src="js/video_player.js"></script>
<script src="js/theme.js"></script>
</body>

<!-- Mirrored from demo.verodate.com/html/verodate/members.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jan 2018 08:24:54 GMT -->
</html>
{% endblock %}